{
  "extends": ["axway/env-node", "axway/+typescript", "prettier"],
  "plugins": ["jsdoc"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "rules": {
    "@typescript-eslint/ban-ts-comment": ["error", {
      "ts-ignore": "allow-with-description"
    }],
    "node/no-unsupported-features/es-syntax": ["error", {
      "ignores": ["modules", "dynamicImport"]
    }],
    "valid-jsdoc": "off"
  }
}
