{
  "extends": "./node_modules/eslint-config-axway/env-node.js",
  "globals": {
    "Ti": false
  },
  "rules": {
    "security/detect-child-process": 0,
    "security/detect-non-literal-regexp": 0
  }
}
